<?xml version="1.0"?>
<launch>
  <arg name="image" default="/rgb/image_raw" />
  <!--
  <arg name="model_name" default="$(find pytorch_ros)/models/espdnet_ue_trav_path_20210712-134315.pt" />
  <arg name="model_name" default="$(find pytorch_ros)/models/espnetv2_20211107-135851.pt" />
  -->
  <arg name="weights" default="$(find pytorch_ros)/models/espnet_ue_cosine_best_6.pth" />

  <node pkg="pytorch_ros" type="pytorch_enet_ros_node.py" name="pytorch_enet_ros_node" output="screen">
    <remap from="~image" to="$(arg image)" />
    <param name="~weights" value="$(arg weights)" />
    <param name="~model_name" value="espnetue_cosine" />
    <param name="~is_jit" value="false" />
  </node>

</launch>
